.container {
  position: relative;
  padding: 4rem 2rem;
  background: var(--background-color);
  border-radius: 2rem;
  margin: 2rem 0;
  transition: background-color 0.3s ease;
  box-shadow: var(--card-shadow);
  overflow: hidden;
}

.content {
  max-width: 1000px;
  margin: 0 auto;
  text-align: left;
}

.content p {
  margin-bottom: 1.5rem;
  line-height: 1.8;
  color: var(--text-color);
  font-size: 1.1rem;
  opacity: 0.8;
  transition: opacity 0.3s ease;
}

.content p:hover {
  opacity: 1;
}

.content p:last-child {
  margin-bottom: 0;
}

@media (width >= 800px) {
  .container {
    padding: 6rem 4rem;
  }
  
  .content p {
    font-size: 1.2rem;
  }
} 